.tag-ul li{
    text-align: center;
    background-color: #FF6060;
    color: white;
    padding: 5px 8px;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    font-size: 3vw;
}