.about-banner-container {
    width: 100%;
    padding-bottom: 70%;
    position: relative;
}

@media (min-width: 768px){
    .about-banner-container {
        padding-bottom: 45%;
    }
}

@media (min-width: 1024px) {

    .about-banner-container {
        padding-bottom: 20%;
    }
    .about-main{
        padding: 2% 10%;
    }
    .collapse-title{
        font-size: 2.5vw;
    }
    .collapse-chevron{
        width: 2vw;
    }
    .collapse-content{
        font-size: 2.5vw;
    }

}