.home-header {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-main {
    min-height: 500px;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 50px;

}