.home-header {
    margin-bottom: 1rem;
}

.home-banner-container {
    width: 100%;
    padding-bottom: 30%;
    position: relative;
}

.home-banner-container img {
    filter: brightness(50%)
}

.home-main {
    margin-bottom: 1rem;
}