.author-card-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 4rem;
}
.author-card-container img {
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 0.5rem;
}
.author-card-container figcaption{
    text-align: right;
}