.collapse-banner {
    width: 100%;
    background: #FF6060;
    display: flex;
    justify-content: space-between;
    padding: 0.5% 2%;
    border-radius: clamp(0.3rem, 0.9%, 0.5rem);
    position: relative;
    z-index: 1;
}

.collapse-title {
    color: white;
    font-size: clamp(0.5rem, 4vw, 3rem);
}
.collapse-chevron{
    width: clamp(0.5rem, 4vw, 3rem);
}

.collapse-chevron.collapsed {
    transform: rotateX(180deg);
}

.collapse-content {
    position: relative;
    top: clamp(-6vw, -50px, -20px);
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 7% 2rem ;
    font-size: clamp(0.5rem, 4vw, 4rem);
}

.collapse-description.collapsed {
    display: none;
}