.collapse-banner {
    width: 100%;
    background: #FF6060;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 2vw;
    position: relative;
    z-index: 1;
}

.collapse-title {
    color: white;
    font-size: 5vw;
}
.collapse-chevron{
    width: 4vw;
}

.collapse-chevron.collapsed {
    transform: rotateX(180deg);
}

.collapse-content {
    position: relative;
    top: -4vw;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 2rem 1rem 0.5rem 1rem;
    font-size: 5vw;
}

.collapse-description.collapsed {
    display: none;
}