nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav ul {
    display: flex;
}
.kasa-logo-rouge{
    width: 8rem;
}

nav ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    margin-left: 1.5rem;
}

a.active {
    border-bottom: 1px solid;
}