nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
nav ul {
    display: flex;
}
.kasa-logo-red{
    width: calc(10rem + 10vw);
}
nav ul li a{
    font-size: calc(1rem + 1vw);
    margin-left: 3vw;
}

a.active {
    border-bottom: 1px solid;
}

