.footer-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}

.kasa-logo-blanc {
    width: 10rem;
}

.footer-copyright {
    color: white;
    font-size: 4vw;
    padding: 2rem 1rem;
}