.footer-container {
    width: 100vw;
    height: 300px;
    background-color: black;
    position: absolute;
    left: 0;
}

.kasa-logo-blanc {
    display: block;
    margin: auto;
    padding: 100px;
}

.footer-copyright {
    text-align: center;
    color: white;
    font-size: 30px;
}