.error-main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media (min-width:1024px) {

    .error-main{
        margin-top: 3rem;
    }
    .error-txt span{
        display: initial;
    }
    .error-redirection{
        padding-top: 12rem;

    }
}